<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar >
  <mat-toolbar-row class="top-header">
  </mat-toolbar-row>
  <mat-toolbar-row class="youqel-topbar">
    <div class="full-width">
      <img class="logo-header" src="assets/img/logo-white.png">
    </div>
    <div>
        <a [class]=" 'en' ==  selectedLanguage? 'selected-language':''"
        (click)="changeLang('en')">EN</a>/ <a 
        [class]=" 'ar' ==  selectedLanguage? 'selected-language':''"
        (click)="changeLang('ar')">AR</a>
      </div>
  </mat-toolbar-row>
</mat-toolbar>

<app-pickup-request></app-pickup-request>