<div class="center  text-align-center">

  <div class="bg-margin-bottom">
    <mat-icon class="confirmation-icon"> check_circle_outline
    </mat-icon>
  </div>

  <h2>{{'ConfimrationPage.Title' | translate}}</h2>
  <p class="sm-margin-bottom">{{'ConfimrationPage.Text' | translate}}</p>
  <p class="sm-margin-bottom">
    <strong>{{'ConfimrationPage.Subtext' | translate}}</strong>
  </p>

  <div>
    <a class="" href="tel:+201144229355">
      <button mat-raised-button color="primary">
        {{'ConfimrationPage.CallButtonPlaceholder' | translate}}
      </button>
    </a>
  </div>
</div>
